@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    padding: 7px;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}
.main-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
}